.oneFlipInX{
    animation-delay: 0.2s;
}
.twoFlipInX{
    animation-delay: 1s;
}
.dashBoard1{
    animation-delay:0s;
}
.dashBoard2{
    animation-delay: 0.5s;
}
.dashBoard3{
    animation-delay:1s;
}
.dashBoard4{
    animation-delay:1.5s;
}
/* addServices */
  .flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    perspective: 1000px;
  }
  

  .flip-rotate-180{
    transform:rotateY(180deg)  ;
    -webkit-transform:rotateY(180deg)  ;
    -moz-transform:rotateY(180deg)  ;
    -ms-transform:rotateY(180deg)  ;
    -o-transform:rotateY(180deg)  ;
}

.flip-rotate-0{
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
  .flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

/* manageService */
.slide-left,.slide-right{
  transition:all 0.5s ease-out;
  transform:translateX(-100%);
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  -webkit-transform:translateX(-100%);
  -moz-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
  -o-transform:translateX(-100%);
}
.slide-right{
  transform:translateX(0%);
  -webkit-transform:translateX(0%);
  -moz-transform:translateX(0%);
  -ms-transform:translateX(0%);
  -o-transform:translateX(0%);
}
.infoCard:hover .infoIcon{
  display: none;
}
.infoCard:hover .cardDescription,.infoCard:hover .cardPrice{
  display: block;
}
.cardDescription::-webkit-scrollbar{
  width:5px;
}
.cardDescription::-webkit-scrollbar-track{
  background:rgb(128, 185, 202);
}
.cardDescription::-webkit-scrollbar-thumb{
  background-color:rgb(100, 127, 214);
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.modalCard,.modalImgCard,.modalInput,.modalButton{
background: rgba(222, 20, 72, 0.57);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border: 1px solid rgba(222, 20, 72, 0.3);
}
.modalImgCard{
background: rgba(150, 214, 214, 0.43);
border: 1px solid rgba(150, 214, 214, 0.3);
}
.modalInput{
background: rgba(150, 214, 214, 0.53);
border: 1px solid rgba(150, 214, 214, 0.3);
}
.modalButton{
background: rgba(220, 20, 60, 0.65);
border: 1px solid rgba(220, 20, 60, 0.3);
}
.modalButton:hover {
  background: rgba(150, 214, 214, 0.43);
  border-radius: 0px;
  border: 1px solid rgba(150, 214, 214, 0.3);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
/* All-service */

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}
.limited-words{
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* search-btn */


/* CSS */