.oneFlipInX{
    animation-delay: 0.2s;
}
.twoFlipInX{
    animation-delay: 1s;
}
.dashBoard1{
    animation-delay:0s;
}
.dashBoard2{
    animation-delay: 0.5s;
}
.dashBoard3{
    animation-delay:1s;
}